.card-body {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    /*margin: 0em 0em 2em 5em;*/
    padding: 0;
}

.card img{
    width: 100%;
    height: 100%;
}

.card p{
    padding-left: 1em;
}

.card h4{
    padding-left: 0.75em;
}


.removeBorder{
    border: 0 !important;
}

.removeBorder td{
    padding-bottom: 0em !important;
}


#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#FFF;
	padding:5px;
	display:none;
	color:#333;
	}
	
	
.makeItDisappear {
-webkit-filter: opacity(0);
-webkit-transition: -webkit-filter 1.5s;

filter: opacity(0);
transition-duration: 1.5s;
transition-property: filter -webkit-filter;
}	
	
/*simple work around for all the images to contain within the carousel width wise. If this was a live website - all images should be resized to the same dimension*/
.imagecl4 {
    width: 100%; 
    object-fit: contain;
}

iframe {
    min-height: 450px;
    max-height: 450px;
    width:100%;
    display: block;
    object-fit: contain;
}

.homePics {
    border-radius: 50%;
}

 #map {
   width: 100%;
   height: 400px;
 }